.green_square{
    width: 76px;
    height: 76px;
    background-color: #779556;
}
.white_square{
    width: 76px;
    height: 76px;
    background-color:#ebecd0;
}
.board{
    width: 628px;
    height: 648px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.number-notations{
    padding-left: 10px;
    width: 20px;
    height: 76px;
    background-color: rgba(255, 255, 255, 0.979);
    font-size: 40px;
}
.alphabet-notations{
    width: 76px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.979);
    font-size: 30px;
    text-align: center;
}
.piece{
    font-size: 35px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    cursor:grab;
}